.navbar {
	background-color: white;
}

.background1 {
	background-image: url("../images/books7.jpg");
}

#judul {
	color: #404040;
	margin-top: 100px;
}

.judul2 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 50px;
	font-family: 'Bree Serif', serif;
	opacity: 0.9;
}

#form {
	width: 550px;
	padding-bottom: 40px;
}