.navbar {
	background-color: white;
}

.background1 {
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.background1 {
	background-image: url("../images/books3.jpg");
}

#judul {
	text-shadow: 2px 2px #404040;;
	color: white;
	margin-top: 130px;
}

#addbook, #updatebook {
	padding-top: 30px;
}

.box {
	height: 270px;
	width: 350px;
	margin: auto;
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 50px;
}

.box:hover {
	text-decoration: none;
	color: white;
}

#box1 {
	background-color: rgba(221,110,66, 0.8);
	float: right;
}

#box2 {
	background-color:rgba(139,184,168, 0.8);
	float: left;
}

.icon {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

.text {
	padding-top: 70px;
	text-align: center;
}