body {
    margin:0;
    padding:0;
    height:100%;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.row {
	margin: 0;
}

.background1 {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {
	border: 1px 1px solid black;
	border-radius: 0 0;
}

.black, .white {
	font-family: 'Muli', sans-serif;
	font-size: 17px;
}

.black {
	color: black;
}

.white {
	color: white;
}

#brand {
	color: #404040;
	font-family: 'Lobster Two', cursive;
	font-size: 20px;
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
}

.modal-footer {
      background-color: #f9f9f9;
}

#myBtn {
	background-color: transparent;
	border: none;
	float: right;
	font-size: 20px;
	margin-top: 10px;
	outline: 0;
}

.font {
	font-family: 'Muli', sans-serif;
}

#judul {
	font-family: 'Lobster Two', cursive;
	font-size: 110px;
	text-align: center;
}

.search {
	width: 400px;
	border: 1px solid grey;
	height: 40px;
	padding-left: 25px;
	opacity: 0.7;
    box-shadow:0px 0px 0px 1px grey;
    font-size: 17px;
}

.search:focus {
	outline: 0;
}

.button-search {
	background: transparent;
	border: none;
	color: white;
	font-size: 25px;
	height: 50px;
	width: 50px;
}

.button-search:focus {
	outline: 0;
}

#search-book {
	margin-top: 20px;
	margin-bottom: 100px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#judul {
	font-family: 'Lobster Two', cursive;
	color: white;
	font-size: 110px;
	text-align: center;
	margin-top: 160px;
}

.footer {
	background-color: #4B4B4B;
    bottom:0;
    width:100%;
    height:50px;
}

#footer {
	text-align: center;
	padding-top: 10px;
}

.footer-text {
	color: white;
	font-family: 'Bree Serif', serif;
	font-size: 15px;
}

.fa {
	background: transparent;
	color: #cccccc;
	font-size: 30px;
	border: none;
}

.fa-facebook-official:hover {
	color: #3B5998;
	outline: 0;
}

.fa-pinterest-p:hover {
	color: #DC483C;
}

.fa-twitter:hover {
	color: #2CA7E0;
}

.fa-linkedin-square:hover {
	color: #0077B5;
}

.garis {
	padding-right: 5px;
	padding-left: 5px;
}
