.background1 {
	background-image: url("../images/books.jpg");
}

.navbar {
	background-color: white;
}

#myBtn {
	color: black;
}

#judul {
	color: #404040;
	margin-top: 100px;
}

.result-judul {
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Muli', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.padding {
	padding-bottom: 60px;
}