.isireview {
	padding-top: 50px;
	font-family: 'Bree Serif', serif;
	font-size: 17px;
	text-align: justify;
    text-justify: inter-word;
}

.img-cont {
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-size: 22px;
}

.navbar {
	background-color: white;
}

#myBtn {
	color: black;
}

#detail {
    background-color: #FDF5BF;
    padding-bottom: 50px;
}

#detailbook {
	padding-left: 50px;
	font-family: 'Bree Serif', serif;
	font-size: 17px;
}

.review-judul {
	font-family: 'Bree Serif', serif;
	padding-top: 20px;
	padding-bottom: 10px;
}

.noreview {
	font-family: 'Bree Serif', serif;
	font-size: 20px;
}

#review {
	padding-bottom: 30px;
}