.btn-container {
	text-align: center;
}

#warning {
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	background-color: red;
	color: white;
}

.capt {
	color: #555555;
	text-shadow: 2px 2px white;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
}

.navbar {
	background: transparent;
}

#myBtn {
	color: white;
}

.login-input {
	border-radius: 5px;
	width: 170px
}

.login {
	margin-top: 10px;
}

#judul {
	color: white;
	margin-top: 160px;
}

.background1, .background2, .background3, .background4 {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.background1 {
	background-image: url("../images/book.jpg");
}

.button-scroll {
	background-color: #a5dff9;
	border-radius: 10px;
	border: 2px solid #a3daff;
	height: 35px;
	margin-left: 5px;
}

.button-popular:hover {
	background-color: #8EC0E4;
}

#popular-books {
	padding-top: 20px;
}

.title {
	text-align: center;
	font-size: 50px;
	font-family: 'Bree Serif', serif;
	opacity: 0.9;
}

.notes {
	font-size: 15px;
	text-align: justify;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.notes-judul {
	font-size: 25px;
	font-weight: bold;
	text-align: justify;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#popbooks{
	padding-top: 30px;
	padding-bottom: 40px;
	display: none;
	margin: auto;
	text-align: center;
}

.nofound {
	font-family: 'Bree Serif', serif;
	font-size: 20px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
}

.carousel-inner, .carousel-caption {
	height: 100vh;
}

.center {
	text-align: center;
}

#provide {
	padding-top: 20px;
}

#about1 {
	padding-top: 100px;
}

.judwhycapt {
	text-align: left;
	color: white;
	font-family: 'Bree Serif', serif;
}

.whycapt {
	text-align: justify;
	color: white;
	margin: 10px;
	font-family: 'Bree Serif', serif;
}

.box {
	height: 250px;
	width: 350px;
	margin: auto;
}

#box1 {
	background-color: #27B8A0;
}

#box2 {
	background-color: #9FA4C4;
}

#box3 {
	background-color: #9E768F;
}

#box-in1 {
	background-color: #008A73;
}

#box-in2 {
	background-color: #8387A1;
}

#box-in3 {
	background-color: #906C82;
}

.box-in {
	height: 80px;
	width: 350px;
}

.icon {
	float: right; 
	height: 50px; 
	margin-top: 17px; 
	margin-right: 20px;
}

.slideanim {
	visibility:hidden;
}

.slide {
	animation-name: slide;
  	-webkit-animation-name: slide;
  	animation-duration: 1s;
  	-webkit-animation-duration: 1s;
  	visibility: visible;
}

.media {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin-left: 5px;
}

.media:hover {
	-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}

.btn-media {
	background: transparent;
	border: none;
}

.btn-media:focus {
	outline: 0;
}


@keyframes slide { 
	0% {
 		opacity: 0.5;
      	transform: translateY(70%);
    }
    100% {
    	opacity: 1;
    	transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
	0% {
		opacity: 0.5;
		-webkit-transform: translateY(70%);
    }
    100% {
    	opacity: 1;
	   	-webkit-transform: translateY(70%);
    }
}

.footer {
	position:absolute;
}
