.background1 {
	background-image: url("../images/books6.jpg");
}

.navbar {
	background-color: white;
}

#judul {
	color: #404040;
	margin-top: 80px;
	text-shadow: 2px 2px white;
}

.search {
    margin-bottom: 50px;
}

.padding {
	padding-bottom: 60px;
}

.result-judul {
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Muli', sans-serif;
	font-size: 20px;
	font-weight: bold;
}